<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hoan.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>hoan.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostServlet</servlet-name>
        <servlet-class>hoan.servlet.HostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet_for_renter</servlet-name>
        <servlet-class>hoan.servlet.RegistrationServlet_for_renter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_renter_servlet</servlet-name>
        <servlet-class>hoan.servlet.delete_renter_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>hoan.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>host_message_servlet</servlet-name>
        <servlet-class>hoan.servlet.host_message_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renter_message_servlet</servlet-name>
        <servlet-class>hoan.servlet.renter_message_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request_moveServlet</servlet-name>
        <servlet-class>hoan.servlet.Request_moveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response_hostServlet</servlet-name>
        <servlet-class>hoan.servlet.Response_hostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwitchServlet</servlet-name>
        <servlet-class>hoan.servlet.SwitchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anwser_requestServlet</servlet-name>
        <servlet-class>hoan.servlet.anwser_requestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostServlet</servlet-name>
        <url-pattern>/HostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet_for_renter</servlet-name>
        <url-pattern>/RegistrationServlet_for_renter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_renter_servlet</servlet-name>
        <url-pattern>/delete_renter_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>host_message_servlet</servlet-name>
        <url-pattern>/host_message_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renter_message_servlet</servlet-name>
        <url-pattern>/renter_message_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request_moveServlet</servlet-name>
        <url-pattern>/Request_moveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Response_hostServlet</servlet-name>
        <url-pattern>/Response_hostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SwitchServlet</servlet-name>
        <url-pattern>/SwitchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anwser_requestServlet</servlet-name>
        <url-pattern>/anwser_requestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>
</web-app>
